<nav>
  <div class="logo">
    <p>Welcome Merchant</p>
  </div>
  <ul>
    <li><a href="transaction">Transactions</a></li>
    <li><a href="/">Log Out</a></li>
    <!-- <li><button class="btn" (click)="logout()">Log out</button></li> -->
  </ul>
</nav>
<div>
  <img src="https://streamline.imgix.net/3f6a61ab-bfb2-4f27-86f1-7e1eecf5b8b9/62ba9998-0b56-4f72-8b4a-d5185033b855/accounting-finance-banner-1.jpg?ixlib=rb-1.1.0&w=2000&h=2000&fit=max&or=0&s=436a95abf45b2d3a871fd94aa597cfb0" height="605px" width="100%">
</div>
<!-- {{localStorage.getItem('username')}} -->