<div class="navbar">
        <a href="home">Home</a>
        <a href="/report">Generate Report</a>
        <a href="/">Log Out</a>
</div>      
&nbsp;
<table align="center">
  <tr>
      <th>
        <form #search = "ngForm" (ngSubmit)="getTransactionByPincode()">
          <div class="col sm-6"><input class="form-control" type="search"placeholder="Filter by pincode" name="searchByPincode" [(ngModel)] = "searchByPincode"></div>
          <div class="col-sm-3"><input type="submit" name="submit" value="Filter" class="btn btn-info" style="background-color:skyblue;border: none;padding: 6px 20px;color: white;"></div>
      </form>
      </th>
      &nbsp;
      <th>
        <form #search = "ngForm" (ngSubmit)="getTransactionByCustomerName()">
          <div class="col sm-6"><input class="form-control" type="search"placeholder="Filter by CustomerName" name="searchByCustomerName" [(ngModel)] = "searchByCustomerName"></div>
          <div class="col-sm-3"><input type="submit" name="submit" value="Filter" class="btn btn-info" style="background-color:skyblue;border: none;padding: 6px 20px;color: white;"></div>
      </form>
      </th>
      &nbsp;
      <th>
        <form #search = "ngForm" (ngSubmit)="getTransactionByUpperLimit()">
          <div class="col sm-6"><input class="form-control" type="search"placeholder="Filter by UpperLimit" name="searchByUpperLimit" [(ngModel)] = "searchByUpperLimit"></div>
          <div class="col-sm-3"><input type="submit" name="submit" value="Filter" class="btn btn-info" style="background-color:skyblue;border: none;padding: 6px 20px;color: white;"></div>
      </form>
      </th>
      &nbsp;
      <th>
        <form #search = "ngForm" (ngSubmit)="getTransactionByLowerLimit()">
        <div class="col sm-6"><input class="form-control" type="search"placeholder="Filter by LowerLimit" name="searchByLowerLimit" [(ngModel)] = "searchByLowerLimit"></div>
        <div class="col-sm-3"><input type="submit" name="submit" value="Filter" class="btn btn-info" style="background-color:skyblue;border: none;padding: 6px 20px;color: white;"></div>
        </form>
      </th>
  </tr>
</table>
&nbsp;
<div>
</div>
<table border = "2" align="center">
    <tr>
        <th>transactionId</th>
        <!-- <th>merchantId</th> -->
        <th>customerName</th>
        <!-- <th>cartId</th> -->
        <th>purchasedAt</th>
        <th>billingAddress</th>
        <th>totalAmount</th>
        <th>paymentReceived</th>
        <th>pincode</th>
    </tr>
    <tr *ngFor="let tran of transactions" >
        <td>{{tran.transactionId}}</td>
        <!-- <td>{{tran.merchantId}}</td> -->
        <td>{{tran.customerName}}</td>
        <!-- <td>{{tran.cartId}}</td> -->
        <td>{{tran.purchasedAt}}</td>
        <td>{{tran.billingAddress}}</td>
        <td>{{tran.totalAmount}}</td>
        <td>{{tran.paymentReceived}}</td>
        <td>{{tran.pincode}}</td>
    </tr>
</table>
&nbsp;


